# Capstone Project 1: MuscleHub AB Test

## Step 1: Get started with SQL

Like most businesses, Janet keeps her data in a SQL database.  Normally, you'd download the data from her database to a csv file, and then load it into a Jupyter Notebook using Pandas.

For this project, you'll have to access SQL in a slightly different way.  You'll be using a special Codecademy library that lets you type SQL queries directly into this Jupyter notebook.  You'll have pass each SQL query as an argument to a function called `sql_query`.  Each query will return a Pandas DataFrame.  Here's an example:

In [1]:
# This import only needs to happen once, at the beginning of the notebook
from codecademySQL import sql_query

In [2]:
# Here's an example of a query that just displays some data
sql_query('''
SELECT *
FROM visits
LIMIT 5
''')

,index,first_name,last_name,email,gender,visit_date
0,0,Karen,Manning,Karen.Manning@gmail.com,female,5-1-17
1,1,Annette,Boone,AB9982@gmail.com,female,5-1-17
2,2,Salvador,Merritt,SalvadorMerritt12@outlook.com,male,5-1-17
3,3,Martha,Maxwell,Martha.Maxwell@gmail.com,female,5-1-17
4,4,Andre,Mayer,AndreMayer90@gmail.com,male,5-1-17

In [3]:
# Here's an example where we save the data to a DataFrame
df = sql_query('''
SELECT *
FROM applications
LIMIT 5
''')

## Step 2: Get your dataset

Let's get started!

Janet of MuscleHub has a SQLite database, which contains several tables that will be helpful to you in this investigation:
- `visits` contains information about potential gym customers who have visited MuscleHub
- `fitness_tests` contains information about potential customers in "Group A", who were given a fitness test
- `applications` contains information about any potential customers (both "Group A" and "Group B") who filled out an application.  Not everyone in `visits` will have filled out an application.
- `purchases` contains information about customers who purchased a membership to MuscleHub.

Use the space below to examine each table.

In [4]:
# Examine visits here
sql_query('''
SELECT *
FROM visits
LIMIT 5
''')

,index,first_name,last_name,email,gender,visit_date
0,0,Karen,Manning,Karen.Manning@gmail.com,female,5-1-17
1,1,Annette,Boone,AB9982@gmail.com,female,5-1-17
2,2,Salvador,Merritt,SalvadorMerritt12@outlook.com,male,5-1-17
3,3,Martha,Maxwell,Martha.Maxwell@gmail.com,female,5-1-17
4,4,Andre,Mayer,AndreMayer90@gmail.com,male,5-1-17

In [5]:
# Examine fitness_tests here
# Examine visits here
sql_query('''
SELECT *
FROM fitness_tests
LIMIT 5
''')

,index,first_name,last_name,email,gender,fitness_test_date
0,0,Kim,Walter,KimWalter58@gmail.com,female,2017-07-03
1,1,Tom,Webster,TW3857@gmail.com,male,2017-07-02
2,2,Marcus,Bauer,Marcus.Bauer@gmail.com,male,2017-07-01
3,3,Roberta,Best,RB6305@hotmail.com,female,2017-07-02
4,4,Carrie,Francis,CF1896@hotmail.com,female,2017-07-05

In [6]:
# Examine applications here
# Examine visits here
sql_query('''
SELECT *
FROM applications
LIMIT 5
''')

,index,first_name,last_name,email,gender,application_date
0,0,Roy,Abbott,RoyAbbott32@gmail.com,male,2017-08-12
1,1,Agnes,Acevedo,AgnesAcevedo1@gmail.com,female,2017-09-29
2,2,Roberta,Acevedo,RA8063@gmail.com,female,2017-09-15
3,3,Darren,Acosta,DAcosta1996@hotmail.com,male,2017-07-26
4,4,Vernon,Acosta,VAcosta1975@gmail.com,male,2017-07-14

In [7]:
# Examine purchases here
# Examine visits here
sql_query('''
SELECT *
FROM purchases
LIMIT 5
''')

   index first_name last_name                    email  gender purchase_date
0      0        Roy    Abbott    RoyAbbott32@gmail.com    male    2017-08-18
1      1    Roberta   Acevedo         RA8063@gmail.com  female    2017-09-16
2      2     Vernon    Acosta    VAcosta1975@gmail.com    male    2017-07-20
3      3     Darren    Acosta  DAcosta1996@hotmail.com    male    2017-07-27
4      4       Dawn    Adkins    Dawn.Adkins@gmail.com  female    2017-08-24

We'd like to download a giant DataFrame containing all of this data.  You'll need to write a query that does the following things:

1. Not all visits in  `visits` occurred during the A/B test.  You'll only want to pull data where `visit_date` is on or after `7-1-17`.

2. You'll want to perform a series of `LEFT JOIN` commands to combine the four tables that we care about.  You'll need to perform the joins on `first_name`, `last_name`, and `email`.  Pull the following columns:


- `visits.first_name`
- `visits.last_name`
- `visits.gender`
- `visits.email`
- `visits.visit_date`
- `fitness_tests.fitness_test_date`
- `applications.application_date`
- `purchases.purchase_date`

Save the result of this query to a variable called `df`.

Hint: your result should have 5004 rows.  Does it?

In [8]:
# I assume that the email address is a primary key (unique id on the table)
sql_query('''
SELECT visits.first_name,
        visits.last_name,
        visits.gender,
        visits.email,
        visits.visit_date,
        fitness_tests.fitness_test_date,
        applications.application_date,
        purchases.purchase_date
FROM visits
LEFT JOIN fitness_tests ON fitness_tests.email = visits.email
LEFT JOIN applications ON applications.email = visits.email
LEFT JOIN purchases ON purchases.email = visits.email
WHERE visits.visit_date >= '7-1-17'
''')

,first_name,last_name,gender,email,visit_date,fitness_test_date,application_date,purchase_date
0,Kim,Walter,female,KimWalter58@gmail.com,7-1-17,2017-07-03,None,None
1,Tom,Webster,male,TW3857@gmail.com,7-1-17,2017-07-02,None,None
2,Edward,Bowen,male,Edward.Bowen@gmail.com,7-1-17,None,2017-07-04,2017-07-04
3,Marcus,Bauer,male,Marcus.Bauer@gmail.com,7-1-17,2017-07-01,2017-07-03,2017-07-05
4,Roberta,Best,female,RB6305@hotmail.com,7-1-17,2017-07-02,None,None
5,Joseph,Foley,male,JosephFoley81@gmail.com,7-1-17,None,None,None
6,Carrie,Francis,female,CF1896@hotmail.com,7-1-17,2017-07-05,None,None
7,Sharon,William,female,Sharon.William@outlook.com,7-1-17,None,None,None
8,Teresa,Yates,female,TYates1988@gmail.com,7-1-17,2017-07-02,None,None
9,Salvador,Cardenas,male,SCardenas1980@gmail.com,7-1-17,2017-07-07,2017-07-06,None
10,Glen,Barker,male,GBarker1976@gmail.com,7-1-17,None,None,None
11,Valerie,Munoz,female,VMunoz1998@gmail.com,7-1-17,2017-07-03,2017-07-05,2017-07-06
12,Jeremy,Howe,male,JHowe1982@gmail.com,7-1-17,2017-07-06,None,None
13,Joel,Combs,male,JC9481@gmail.com,7-1-17,2017-07-01,None,None
14,Oscar,Forbes,male,Oscar.Forbes@gmail.com,7-1-17,None,None,None
15,Darryl,Albert,male,DAlbert1975@gmail.com,7-1-17,None,None,None
16,Armando,Valenzuela,male,ArmandoValenzuela67@gmail.com,7-1-17,None,None,None
17,June,Ayers,female,JA2612@gmail.com,7-1-17,None,None,None
18,Nancy,Morin,female,Nancy.Morin@gmail.com,7-1-17,2017-07-05,None,None
19,Lorraine,Lindsay,female,LL3161@gmail.com,7-1-17,2017-07-05,None,None
20,Carla,Guerrero,female,CG6354@gmail.com,7-1-17,2017-07-03,None,None
21,Gina,Monroe,female,GMonroe1973@gmail.com,7-1-17,None,None,None
22,Andy,Roberson,male,ARoberson1972@yahoo.com,7-1-17,2017-07-05,None,None
23,Arnold,Madden,male,AMadden1998@gmail.com,7-1-17,2017-07-01,None,None
24,Norman,Frederick,male,NF6074@gmail.com,7-1-17,None,None,None
25,Morris,Lott,male,ML9504@gmail.com,7-1-17,2017-07-03,None,None
26,Cory,Gamble,male,CGamble1983@gmail.com,7-1-17,None,None,None
27,Marcus,Gilliam,male,MGilliam1997@gmail.com,7-1-17,None,None,None
28,Clifford,Guthrie,male,Clifford.Guthrie@gmail.com,7-1-17,2017-07-04,None,None
29,Terry,Merrill,male,TerryMerrill91@gmail.com,7-1-17,None,None,None
...,...,...,...,...,...,...,...,...
4976,Dolores,Nielsen,female,DNielsen1989@outlook.com,9-9-17,2017-09-14,None,None
4977,Kathy,Drake,female,KathyDrake58@yahoo.com,9-9-17,None,None,None
4978,Misty,Roberson,female,Misty.Roberson@gmail.com,9-9-17,2017-09-14,None,None
4979,Marian,Daniel,female,Marian.Daniel@outlook.com,9-9-17,None,None,None
4980,Wanda,Snow,female,WandaSnow93@gmail.com,9-9-17,None,None,None
4981,Nathan,Gallegos,male,NGallegos1993@gmail.com,9-9-17,None,None,None
4982,Evelyn,Reeves,female,Evelyn.Reeves@hotmail.com,9-9-17,None,None,None
4983,Kelly,Tate,male,KT1133@yahoo.com,9-9-17,2017-09-12,None,None
4984,Willie,Mann,female,WMann1985@gmail.com,9-9-17,2017-09-11,None,None
4985,Ellen,Blake,female,EB2921@gmail.com,9-9-17,2017-09-10,None,None
4986,Marjorie,Wong,female,MWong1985@gmail.com,9-9-17,None,None,None
4987,Margie,Walton,female,Margie.Walton@gmail.com,9-9-17,None,None,None
4988,Peter,Figueroa,male,PF2641@gmail.com,9-9-17,2017-09-15,None,None
4989,Clifton,Leon,male,Clifton.Leon@gmail.com,9-9-17,2017-09-12,None,None
4990,Gordon,Espinoza,male,GE6498@gmail.com,9-9-17,2017-09-12,None,None
4991,Luis,Horne,male,LH9941@outlook.com,9-9-17,None,None,None
4992,Francis,Durham,male,FrancisDurham84@gmail.com,9-9-17,None,None,None
4993,Suzanne,Humphrey,female,SuzanneHumphrey4@gmail.com,9-9-17,2017-09-09,2017-09-13,2017-09-18
4994,Glenn,Kinney,male,Glenn.Kinney@gmail.com,9-9-17,None,None,None
4995,Jose,Stevenson,male,JoseStevenson56@gmail.com,9-9-17,None,None,None
4996,Gregory,Wong,male,GWong1970@gmail.com,9-9-17,2017-09-09,None,None
4997,Dean,Mejia,male,DM7848@gmail.com,9-9-17,2017-09-13,None,None
4998,Sharon,Hahn,female,SH5322@gmail.com,9-9-17,None,None,None
4999,Adam,Grimes,male,Adam.Grimes@gmail.com,9-9-17,None,None,None
5000,Sara,Malone,female,SMalone1995@gmail.com,9-9-17,2017-09-13,None,None
5001,Rachel,Hensley,female,RachelHensley38@gmail.com,9-9-17,None,None,None
5002,Leon,Harmon,male,Leon.Harmon@gmail.com,9-9-17,2017-09-15,None,None
5003,Andy,Pratt,male,AndyPratt27@gmail.com,9-9-17,2017-09-15,None,None
5004,Ruben,Nielsen,male,RubenNielsen93@hotmail.com,9-9-17,None,2017-09-13,None
5005,Charles,Carver,male,CC2490@gmail.com,9-9-17,2017-09-12,None,None

## Step 3: Investigate the A and B groups

We have some data to work with! Import the following modules so that we can start doing analysis:
- `import pandas as pd`
- `from matplotlib import pyplot as plt`

We're going to add some columns to `df` to help us with our analysis.

Start by adding a column called `ab_test_group`.  It should be `A` if `fitness_test_date` is not `None`, and `B` if `fitness_test_date` is `None`.

Let's do a quick sanity check that Janet split her visitors such that about half are in A and half are in B.

Start by using `groupby` to count how many users are in each `ab_test_group`.  Save the results to `ab_counts`.

We'll want to include this information in our presentation.  Let's create a pie cart using `plt.pie`.  Make sure to include:
- Use `plt.axis('equal')` so that your pie chart looks nice
- Add a legend labeling `A` and `B`
- Use `autopct` to label the percentage of each group
- Save your figure as `ab_test_pie_chart.png`

## Step 4: Who picks up an application?

Recall that the sign-up process for MuscleHub has several steps:
1. Take a fitness test with a personal trainer (only Group A)
2. Fill out an application for the gym
3. Send in their payment for their first month's membership

Let's examine how many people make it to Step 2, filling out an application.

Start by creating a new column in `df` called `is_application` which is `Application` if `application_date` is not `None` and `No Application`, otherwise.

Now, using `groupby`, count how many people from Group A and Group B either do or don't pick up an application.  You'll want to group by `ab_test_group` and `is_application`.  Save this new DataFrame as `app_counts`

We're going to want to calculate the percent of people in each group who complete an application.  It's going to be much easier to do this if we pivot `app_counts` such that:
- The `index` is `ab_test_group`
- The `columns` are `is_application`
Perform this pivot and save it to the variable `app_pivot`.  Remember to call `reset_index()` at the end of the pivot!

Define a new column called `Total`, which is the sum of `Application` and `No Application`.

Calculate another column called `Percent with Application`, which is equal to `Application` divided by `Total`.

It looks like more people from Group B turned in an application.  Why might that be?

We need to know if this difference is statistically significant.

Choose a hypothesis tests, import it from `scipy` and perform it.  Be sure to note the p-value.
Is this result significant?

## Step 4: Who purchases a membership?

Of those who picked up an application, how many purchased a membership?

Let's begin by adding a column to `df` called `is_member` which is `Member` if `purchase_date` is not `None`, and `Not Member` otherwise.

Now, let's create a DataFrame called `just_apps` the contains only people who picked up an application.

Great! Now, let's do a `groupby` to find out how many people in `just_apps` are and aren't members from each group.  Follow the same process that we did in Step 4, including pivoting the data.  You should end up with a DataFrame that looks like this:

|is_member|ab_test_group|Member|Not Member|Total|Percent Purchase|
|-|-|-|-|-|-|
|0|A|?|?|?|?|
|1|B|?|?|?|?|

Save your final DataFrame as `member_pivot`.

It looks like people who took the fitness test were more likely to purchase a membership **if** they picked up an application.  Why might that be?

Just like before, we need to know if this difference is statistically significant.  Choose a hypothesis tests, import it from `scipy` and perform it.  Be sure to note the p-value.
Is this result significant?

Previously, we looked at what percent of people **who picked up applications** purchased memberships.  What we really care about is what percentage of **all visitors** purchased memberships.  Return to `df` and do a `groupby` to find out how many people in `df` are and aren't members from each group.  Follow the same process that we did in Step 4, including pivoting the data.  You should end up with a DataFrame that looks like this:

|is_member|ab_test_group|Member|Not Member|Total|Percent Purchase|
|-|-|-|-|-|-|
|0|A|?|?|?|?|
|1|B|?|?|?|?|

Save your final DataFrame as `final_member_pivot`.

Previously, when we only considered people who had **already picked up an application**, we saw that there was no significant difference in membership between Group A and Group B.

Now, when we consider all people who **visit MuscleHub**, we see that there might be a significant different in memberships between Group A and Group B.  Perform a significance test and check.

## Step 5: Summarize the acquisition funel with a chart

We'd like to make a bar chart for Janet that shows the difference between Group A (people who were given the fitness test) and Group B (people who were not given the fitness test) at each state of the process:
- Percent of visitors who apply
- Percent of applicants who purchase a membership
- Percent of visitors who purchase a membership

Create one plot for **each** of the three sets of percentages that you calculated in `app_pivot`, `member_pivot` and `final_member_pivot`.  Each plot should:
- Label the two bars as `Fitness Test` and `No Fitness Test`
- Make sure that the y-axis ticks are expressed as percents (i.e., `5%`)
- Have a title